*{
    font-family: 'Sansita', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #1f242d;
    background-image: url(./images/adorable-looking-kitten-with-sunglasses.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section {
    padding: 100px 200px;
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    -webkit-text-stroke: 5px whitesmoke;
    -webkit-text-stroke-width: 3px;
    color: transparent;
    border: 5px dotted white;
    border-radius: 20px;
    padding-bottom: 0.5cm;
    padding-right: 0.5cm;
    padding-left: 0.5cm;
    padding: auto;
    margin: auto;
    max-width: fit-content;
    max-height: fit-content;
    transition: 0.5s ease;
}

h1:hover, h1:active {
    color: #6fb8b8;
    transform: scale(1.1);
}

.copy {
    font-family: 'Sansita', sans-serif;
    text-align: center;
    border: 5px dotted white;
    border-radius: 50px;
    padding-bottom: 0.2cm;
    padding-top: 0.1cm;
    padding-right: 0.2cm;
    padding-left: 0.2cm;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    color: white;
    font-size: large;
    position: sticky;
    bottom: 0px;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    transition: 0.5s ease;
}

.copy:hover {
    background-color: #6fb8b8;
    transform: scale(1.1);
}

a {
    font-family: 'Sansita', sans-serif;
    font-weight: 900;
    font-size: 50px;
    -webkit-text-stroke: 3px white;
    -webkit-text-stroke-width: 1.8px;
    color: transparent;
    text-decoration: none;
    transition: 0.7s ease;
}

a:visited {
    -webkit-text-stroke: 3px #6fb8b8;
}

a:hover, a:active {
    color: #ffffff;
    transform: scale(1.1);
}

.lasagna {
    color: white;
}
.beef {
    color: white;
}
.miso-soup {
    color: white;
}

@media (max-width:1023px) {
    section {
        padding: 12px 20px;
    }
    h1 {
        font-size: 80px;
    }
}
