body {
    background-color: #1f242d;
}

h1 {
    font-size: 100px;
    font-family: "Sansita", Calibri, Tahoma, sans-serif;
    text-align: center;
    -webkit-text-stroke: 5px whitesmoke;
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

h1:hover, h1:active {
color: rgb(214, 135, 135);
}

a {
    font-family: "Sansita", Calibri, sans-serif;
    font-weight: 900;
    font-size: 50px;
    -webkit-text-stroke: 3px white;
    -webkit-text-stroke-width: 1.5px;
    color: transparent;
}

a:visited {
    -webkit-text-stroke: 3px rgb(214, 135, 135);
}

a:hover, a:active {
    color: whitesmoke;
}

.lasagna {
    color: white;
}
.beef {
    color: white;
}
.miso-soup {
    color: white;
}
